.feedback {
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 28px;
	overflow: hidden;

	@include r($mobile) {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 30px 0 64px 40px;
		background-color: $white;
		border-radius: 20px;

		@include r($mobile) {
			padding: 20px;
		}
	}

	&__header {
		display: flex;
		gap: 30px;
	}
	&__logo {
		max-width: 170px;

		@include r($mobile) {
			display: none;
		}
	}
	&__titles {
		display: flex;
		flex-direction: column;
		gap: 10px;
		color: $c-text;

		h2 {
			font-size: 50px;
			line-height: 130%;
			font-weight: $medium;

			@include r($mobile) {
				font-size: 32px;
				line-height: 41.6px;
			}
		}

		h3 {
			font-size: 32px;
			line-height: 100%;
			font-weight: $semi-bold;

			@include r($mobile) {
				font-size: 22px;
				line-height: 26.82px;
			}
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		gap: 20px;

		svg {
			width: 32px;
			height: 32px;

			@include r($mobile) {
				width: 24px;
				height: 24px;
			}
		}
	}

	&__text {
		font-size: 24px;
		line-height: 190%;

		@include r($mobile) {
			max-width: 100%;
			font-size: 18px;
			line-height: 27px;
		}
	}

	&__phones {
		display: flex;

		gap: 20px;

		&--icon {
			display: flex;
			align-items: center;
		}
	}
	&__email {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	&__links {
		display: flex;
		flex-direction: column;
	}
	&__link {
		font-weight: $semi-bold;
		font-size: 24px;
		line-height: 150%;

		@include r($mobile) {
			font-size: 20px;
			line-height: 30px;
		}
	}
	&__title {
		font-size: 32px;
		font-weight: $semi-bold;
		line-height: auto;
		color: $c-text;

		@include r($mobile) {
			font-size: 22px;
			line-height: 26.82px;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 40px;
		background-color: $white;
		border-radius: 20px;
		height: 100%;
		@include r($mobile) {
			width: 100%;
			padding: 20px;
		}
	}
}
