<!DOCTYPE html>
<html lang="en">

    <%= htmlWebpackPlugin.options.widgets.head %>

    <body>
        <%= htmlWebpackPlugin.options.widgets.header %>
        <main class="main main--index" style="background-image: url('./assets/images/index-bg.png')">
            <%= htmlWebpackPlugin.options.widgets.mainHero %>
            <%= htmlWebpackPlugin.options.widgets.teasers %>
            <%= htmlWebpackPlugin.options.widgets.productDetail %>
            <%= htmlWebpackPlugin.options.widgets.partners %>
            <%= htmlWebpackPlugin.options.widgets.feedback %>
        </main>
        <%= htmlWebpackPlugin.options.widgets.footer %>
        <%= htmlWebpackPlugin.options.widgets.temp %>
    </body>

</html>