<!DOCTYPE html>
<html lang="en">

<%= htmlWebpackPlugin.options.widgets.head %>

    <body>
        <aside class="pre-header">ÉCONOMISEZ 10 % SUR VOTRE PREMIÈRE COMMANDE. Entrez le code HALLO10 à la caisse pour
            10 % de
            réduction sur votre première commande.</aside>
        <%= htmlWebpackPlugin.options.widgets.header %>
            <main class="main main--index" style="background-image: url('./assets/images/index-bg.png')">
                <%= htmlWebpackPlugin.options.widgets.mainHero %>
                    <%= htmlWebpackPlugin.options.widgets.teasers %>
                        <%= htmlWebpackPlugin.options.widgets.productDetail %>
                            <%= htmlWebpackPlugin.options.widgets.partners %>
                                <%= htmlWebpackPlugin.options.widgets.feedback %>
            </main>
            <%= htmlWebpackPlugin.options.widgets.footer %>
    </body>

</html>