.footer {
	padding: 10px 0;
	margin: 0 30px;
	border-radius: 20px;
	background-color: $blue-black;

	@include r($mobile) {
		padding: 20px 0;

		.socials{
			&__link {
				width: 28px;
				height: 28px;

				padding: 5px;

				&--fb {
					padding-bottom: 0;
				}

				svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;

		@include r($mobile) {
			//flex-direction: column;
			align-items: center;
			flex-wrap: wrap;
			gap: 29px;

			& > *:nth-child(1) {
				order: 1;
			}

			& > *:nth-child(2) {
				order: 3;
				width: 100%;
			}

			& > *:nth-child(3) {
				order: 2;
			}
		}
	}

	&__nav {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;

		@include r($mobile) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-flow: row;
			gap: 14px;
		}
	}

	&__link {
		font-size: 15px;
		color: $white;
		line-height: 100%;
		transition: 0.2s linear;
		&:hover {
			color: #49b2e3;
		}

		@include r($mobile) {
			font-size: 14px;
			font-weight: 500;
			line-height: 17.07px;
		}
	}

	&__copyright {
		@include text-middle($c-text);
		text-align: center;
		padding: 20px 0 22px 0;
	}

	&__logo img {
		height: 80px;

		@include r($mobile) {
			height: 50px;
		}
	}
}

.scroll-up-btn {
	position: fixed;
	bottom: 10%;
	right: 0;
	z-index: 9999;
	color: $white;
	background-color: #000;
	opacity: 0.3;
	cursor: pointer;
	border-radius: 10px 0 0 10px;
	display: none;
	align-items: center;
	justify-content: center;
	padding: 13px 10px;

	&:hover {
		opacity: 0.7;
	}

	svg {
		transform: rotate(180deg);
	}
}
