.reviews {
	display: grid;
	grid-template-columns: repeat(
		4,
		1fr
	); /* Четыре колонки одинаковой ширины */
	gap: 30px; /* Расстояние между элементами */
	width: 100%; /* Контейнер на всю ширину */
}
