body {
	// height: 200vh;
	/* Just for demo purposes to enable scrolling */

}

.video-container {
	// position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	margin-top: 60px;

	max-width: #{$max-container}px;
	padding: 0 20px;
	margin-left: auto;
	margin-right: auto;
}

.scroll-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	inset: 0;
}

.video-container--fixed {
	position: fixed;
	inset: 0;
	z-index: 9;
}

.scroll-video-wrapper {
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

.scroll-video__forward {
	z-index: 99;
}
