<!DOCTYPE html>
<html lang="en">
<%= htmlWebpackPlugin.options.widgets.head %>

    <body>
        <%= htmlWebpackPlugin.options.widgets.header %>
        <main class="main">
            <section class="section pt-50">
                <div class="container">
                    <div class="breadcrumbs mb-40">
                        <a href="./index.html" class="breadcrumbs__link">to index</a>
                        <span class="breadcrumbs__link">Blog</span>
                    </div>
                    <div class="blog">
                        <div class="head">
                            <h2 class="title">Blog</h2>
                        </div>
                        <div class="island">
                            Microbiome science requires precision. In collaboration with scientists from all over the world, for 110 years we have been working and creating bio microbiotics for you and your health, for the benefit of future generations. We use probiotic strains with clinical data obtained in Japan.
                        </div>
                        <div class="blog__cards load-more-items">
                            <div class="card">
                                <picture>
                                    <img src="./assets/images/blog/blog.jpeg" alt="">
                                </picture>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <a href="#" class="card__text-link">
                                        Look More
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-vector"></use>
                                        </svg>
                                    </a>
                                    <div class="card__text-timestamp">
                                        03.09.2023
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <picture>
                                    <img src="./assets/images/blog/blog.jpeg" alt="">
                                </picture>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <a href="#" class="card__text-link">
                                        Look More
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-vector"></use>
                                        </svg>
                                    </a>
                                    <div class="card__text-timestamp">
                                        03.09.2023
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <picture>
                                    <img src="./assets/images/blog/blog.jpeg" alt="">
                                </picture>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <a href="#" class="card__text-link">
                                        Look More
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-vector"></use>
                                        </svg>
                                    </a>
                                    <div class="card__text-timestamp">
                                        03.09.2023
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <picture>
                                    <img src="./assets/images/blog/blog.jpeg" alt="">
                                </picture>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <a href="#" class="card__text-link">
                                        Look More
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-vector"></use>
                                        </svg>
                                    </a>
                                    <div class="card__text-timestamp">
                                        03.09.2023
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <picture>
                                    <img src="./assets/images/blog/blog.jpeg" alt="">
                                </picture>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <a href="#" class="card__text-link">
                                        Look More
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-vector"></use>
                                        </svg>
                                    </a>
                                    <div class="card__text-timestamp">
                                        03.09.2023
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <picture>
                                    <img src="./assets/images/blog/blog.jpeg" alt="">
                                </picture>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <a href="#" class="card__text-link">
                                        Look More
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-vector"></use>
                                        </svg>
                                    </a>
                                    <div class="card__text-timestamp">
                                        03.09.2023
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <picture>
                                    <img src="./assets/images/blog/blog.jpeg" alt="">
                                </picture>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <a href="#" class="card__text-link">
                                        Look More
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-vector"></use>
                                        </svg>
                                    </a>
                                    <div class="card__text-timestamp">
                                        03.09.2023
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <picture>
                                    <img src="./assets/images/blog/blog.jpeg" alt="">
                                </picture>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <a href="#" class="card__text-link">
                                        Look More
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-vector"></use>
                                        </svg>
                                    </a>
                                    <div class="card__text-timestamp">
                                        03.09.2023
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <picture>
                                    <img src="./assets/images/blog/blog.jpeg" alt="">
                                </picture>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <a href="#" class="card__text-link">
                                        Look More
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-vector"></use>
                                        </svg>
                                    </a>
                                    <div class="card__text-timestamp">
                                        03.09.2023
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <picture>
                                    <img src="./assets/images/blog/blog.jpeg" alt="">
                                </picture>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <a href="#" class="card__text-link">
                                        Look More
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-vector"></use>
                                        </svg>
                                    </a>
                                    <div class="card__text-timestamp">
                                        03.09.2023
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <picture>
                                    <img src="./assets/images/blog/blog.jpeg" alt="">
                                </picture>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <a href="#" class="card__text-link">
                                        Look More
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-vector"></use>
                                        </svg>
                                    </a>
                                    <div class="card__text-timestamp">
                                        03.09.2023
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <picture>
                                    <img src="./assets/images/blog/blog.jpeg" alt="">
                                </picture>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <a href="#" class="card__text-link">
                                        Look More
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-vector"></use>
                                        </svg>
                                    </a>
                                    <div class="card__text-timestamp">
                                        03.09.2023
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <picture>
                                    <img src="./assets/images/blog/blog.jpeg" alt="">
                                </picture>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <a href="#" class="card__text-link">
                                        Look More
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-vector"></use>
                                        </svg>
                                    </a>
                                    <div class="card__text-timestamp">
                                        03.09.2023
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <picture>
                                    <img src="./assets/images/blog/blog.jpeg" alt="">
                                </picture>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <a href="#" class="card__text-link">
                                        Look More
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-vector"></use>
                                        </svg>
                                    </a>
                                    <div class="card__text-timestamp">
                                        03.09.2023
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <picture>
                                    <img src="./assets/images/blog/blog.jpeg" alt="">
                                </picture>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <a href="#" class="card__text-link">
                                        Look More
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-vector"></use>
                                        </svg>
                                    </a>
                                    <div class="card__text-timestamp">
                                        03.09.2023
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button blog__load-more load-more-btn">
                            LOAD MORE
                        </div>
                    </div>
                </div>
            </section>
            <%= htmlWebpackPlugin.options.widgets.feedback %>
        </main>

        <%= htmlWebpackPlugin.options.widgets.footer %>
        <%= htmlWebpackPlugin.options.widgets.temp %>
    </body>

</html>