.select-subscription-duration {
    position: relative;
}

.select-subscription-duration__selected {
    display: flex;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    color: #242424;
    background-color: #f9f9f9;
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    justify-content: space-between;
    cursor: pointer;
}

.select-subscription-duration__list {
    position: absolute;

    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #242424;
    background-color: #f9f9f9;
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    width: 100%;
    z-index: 3;
    margin-top: 10px;
}

.select-subscription-duration__option {
    padding: 20px;
    border-radius: 10px;
}

.select-subscription-duration__option:not(.select-subscription-duration__option__active) {
    cursor: pointer;
}

.select-subscription-duration__option:hover {
    background-color: #eeeeee;
}

.select-subscription-duration__option__active {
    background-color: #dedede;
}

.select-subscription-duration__selected__icon svg {
    width: 1em;
    height: 1em;
}

.product-detail__product-price {
    color: #27AAE2;
    font-size: 30px;
    font-weight: 500;
}

.product-detail__product-price .price {
    display: inline-flex;
    flex-direction: row;
}

.product-detail__product-price .price del span {
    color: #E5E5E5;
}

.product-detail__product-price .price ins span,
.product-detail__product-amount {
    text-decoration: none;
    color: #27AAE2;
}

.product-detail__product-price .price span,
.product-detail__product-amount {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
}

.select-subscription-duration__label {
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    margin: 30px 0 10px 0;
}

.variation-type__single {
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    margin-bottom: 16px;
    padding: 12px 20px;
    transition: border-color 0.2s, box-shadow 0.2s;
}
.variation-type__single-option,
.select-subscription-duration {
    cursor: pointer;
    padding: 10px 0;
    border-radius: 10px;
    transition: background 0.2s, color 0.2s;
    outline: none;
}
.variation-type__single:hover,
.variation-type__single:focus {
    border-color: #27aae2;
    box-shadow: 0 0 0 2px #27aae233;
}
.variation-type__single--selected {
    border-color: #27aae2;
    box-shadow: 0 0 0 2px #27aae233;
}
