.download-terms-link {
	display: flex;
	gap: 6px;
	font-size: 14px;
	font-weight: 600;
	line-height: 28px;
	align-items: center;
	margin-top: 30px;
	width: fit-content;
}

.download-terms-link svg {
	width: 1.4em;
	height: 1.4em;
}

.download-terms-link__icon {
	display: flex;
	align-items: center;
}

.download-terms-link__text {
	color: #27aae2;
	text-decoration: underline;
	text-transform: uppercase;
}

.privacy_policy_subtitle {
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
}

.menu__item {
	cursor: pointer;
}

.product-detail .buttons__add-to-cart {
	flex-direction: row;
}

@media screen and (max-width: 768px) {
	.product-detail .buttons__add-to-cart {
		flex-direction: column;
	}
}

.product-detail__calory-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.product-detail__calory-table {
	width: 100%;
	max-width: 700px;
	border-collapse: collapse;
	border: 1px solid #979797;
}

.product-detail__calory-table th,
.product-detail__calory-table td {
	border: 1px solid #979797;
	padding: 8px;
}

.product-detail__calory-table tr:nth-child(odd) {
	background-color: #f2f2f2;
}

.woocommerce-error {
	font-size: 18px;
	line-height: 20px;
	padding: 30px;
	border-radius: 20px;
	background-color: rgb(255, 197, 197);
	margin: 30px 0;
}

.checkout-inline-error-message {
	color: #fd1943;
	font-size: 18px;
	margin-top: -30px;
	margin-bottom: 10px;
}

.woocommerce-invalid input {
	border: 1px solid #fd1943 !important;
}

@media screen and (max-width: 1199px) {
	.checkout-inline-error-message {
		font-size: 16px;
		margin-top: -25px;
		margin-bottom: 10px;
	}
}

.checkout__pay .woocommerce-error {
	color: #FF543E;
	font-size: 27px;
	font-weight: 600;
	line-height: 52px;
	background-color: unset;
	padding: 0;
	margin-bottom: 20px;
}

.woocommerce .checkout__pay {
	max-width: 700px;
	margin: auto;
}

.checkout__pay #place_order {
	width: 100%;
	margin-top: 30px;
}

.checkout__pay .shop_table {
	width: 100%;
}

.checkout__pay .shop_table .cart__table__variation {
	display: inline-block;
}

.checkout__pay .shop_table .product-quantity {
	margin-left: 5px;
	font-size: 20px;
	color: #27aae2;
}

.checkout__pay h2 {
	font-size: 24px;
	font-weight: 600;
	line-height: 33.6px;
	border-bottom: 1px solid #F1F1F1;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.checkout__pay tfoot tr:first-child td,
.checkout__pay tfoot tr:first-child th {
	border-top: 1px solid #F1F1F1;
	padding-top: 15px;
}

.checkout__pay tbody tr:last-child td,
.checkout__pay tbody tr:last-child th {
	padding-bottom: 15px;
}

.join-out-team-form {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px 30px;
}

.join-out-team-form > .wpcf7-form-control-wrap {
	grid-column: unset;
	grid-row: unset;
}

.join-out-team-form .wpcf7-submit {
	grid-column: 4/5;
	grid-row: 1/2;
	max-height: 60px;
	padding: 0;
}

.join-out-team-form .wpcf7-submit[disabled] {
    pointer-events: none;
    background-color: #bbbbbb;
}

.join-out-team-form .vacancy__upload {
	grid-row: 3/4;
	cursor: pointer;
	width: fit-content;
}

.join-out-team-form [data-agree-custom] {
	grid-row: 3/4;


	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.join-out-team-form [data-agree-custom] svg {
	width: 1.3em;
	height: 1.3em;
	flex-shrink: 0;
}

.join-out-team-form [data-agree-custom] a {
    color: #27aae2;
    text-decoration: underline;
    cursor: pointer;
}

.join-out-team-form .wpcf7-response-output {
	grid-row: 4/5;
	grid-column: 1/5;
	font-size: 23px;
	line-height: 27px;
	font-weight: 500;
	text-align: center;
}

.join-out-team-form .wpcf7-spinner {
	grid-column: 4/5;
}

.join-out-team-form span:has([type="file"]) {
	display: none;
}

.join-out-team-form .vacancy__upload-file-name {
	color: #5a5a5a;
}

@media only screen and (max-width: 1199px) {
	.join-out-team-form {
		display: flex;
		flex-direction: column;
	}

	.join-out-team-form .wpcf7-submit {
		padding: 28px;
		margin-bottom: 10px;
		max-height: unset;
	}

	.join-out-team-form .wpcf7-response-output {
		font-size: 18px;
		line-height: 25px;
	}
}

.woocommerce-order-details .woocommerce-table--order-details{
	width: 100%;
	max-width: 700px;
}

.woocommerce-order-details .woocommerce-table--order-details .cart__table__variation {
    padding: 5px 10px;
    background-color: #edf9ff;
    border-radius: 10px;
    color: #27AAE2;
	display: inline-block;
}

.woocommerce-order-details .woocommerce-table--order-details .product-quantity {
	margin-left: 5px;
    font-size: 20px;
    color: #27aae2;
}

.woocommerce-order-details .woocommerce-table--order-details tfoot th {
    padding-left: 40px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #acacac;
}

.woocommerce-order-details .woocommerce-table--order-details tfoot tr:first-child td,
.woocommerce-order-details .woocommerce-table--order-details tfoot tr:first-child th {
    border-top: 1px solid #F1F1F1;
    padding-top: 15px;
}

.woocommerce-order-details .woocommerce-table--order-details tbody tr:last-child td,
.woocommerce-order-details .woocommerce-table--order-details tbody tr:last-child th {
    padding-bottom: 15px;
}

.account__order-title {
	font-size: 22px;
	margin-bottom: 40px;
}

.account__order-title mark {
	font-weight: 600;
}

.account__order-title mark.order-number {
	color: #27AAE2;
}

.order-again a {
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 30px;
}

.select2-dropdown {
	border-radius: 20px !important;
	padding: 20px;
	border: 1px solid gray !important;

	font-size: 16px;
	font-weight: 400;
	line-height: 40px;
}

.select2-search input {
	border-radius: 10px;
	background-color: #f9f9f9;
}

.select2-search input:focus {
	border-color: #27AAE2 !important;
}

.select2-results ul li {
	border-radius: 10px;
}

.select2-results .select2-results__option--highlighted {
	background-color: #27AAE2 !important;
}
