.password {
	display: flex;

	&__icon {
		display: flex;
		flex-shrink: 0;
		width: 20px;
		height: 20px;
		cursor: pointer;
	}

	&__input {
		flex-grow: 1;

		@include text-middle($c-text);

		&::placeholder {
			color: $gray-light;
		}
	}
}
