.pre-header {
	padding: 14px 0;
	text-align: center;
	color: $azure;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: $semi-bold;
}

.header {
	position: sticky;
	top: 20px;
	z-index: 9999;
	box-shadow: 0 0 13px #0000001a;
	border-radius: 20px;
	margin: 0 30px;
	padding: 10px 0;
	background-color: $white;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;

		@include r($mobile) {
			justify-content: center;
			position: relative;
			z-index: 5;
		}
	}

	&__block {
		display: flex;
		align-items: center;
		gap: 40px;

		&--full {
			@include r($mobile) {
				flex-grow: 1;
			}
		}

		&--no-gap {
			gap: 0;
		}

		&__divider {
			width: 1px;
			background-color: #f0f0f0;
			height: 32px;
		}

		&__socials-and-personal {
			gap: 20px
		}
	}

	&__personal {
		display: flex;
		position: relative;
		gap: 8px;
		@include r($mobile) {
			padding: 0 14px 0 0;
		}
	}

	&__user {
		position: relative;

		&:hover .menu {
			opacity: 1;
			visibility: visible;
			transition-delay: 0s;
		}
	}

	&__language {
		position: relative;


		span {
			text-transform: uppercase;
		}


		.header__element {
			text-transform: uppercase;
		}

		.menu {
			z-index: 1;

			button {
				cursor: pointer;
			}
		}

		&:hover .menu {
			opacity: 1;
			visibility: visible;
			transition-delay: 0s;
		}
	}

	&__element {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		background: $blue-light;
		cursor: pointer;
		border-radius: 10px;

		&:hover {
			span {
				color: $blue-light;
			}

			svg {
				fill: $azure;
			}
		}

		span {
			color: $azure;
			transition: 0.2s linear;
		}

		svg {
			fill: $azure;
			transition: 0.2s linear;
		}

		.icon--small {
			width: 8px;
			height: 8px;
		}
	}

	&__logout {
		display: flex;
		align-items: center;
		gap: 10px;
		@include text-middle($white);

		svg {
			display: flex;
			width: 20px;
			height: 20px;
			fill: $white;
		}
	}
}

.logo {
	@include r($mobile) {
		max-width: 67.86px;
		max-height: 50px;
	}
}
