.pre-header {
	padding: 14px 0;
	text-align: center;
	color: $azure;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: $semi-bold;
}

.header {
	position: sticky;
	top: 20px;
	z-index: 9999;
	box-shadow: 0 0 13px #0000001a;
	border-radius: 20px;
	margin: 0 30px;
	padding: 10px 0;
	background-color: $white;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;

		@include r($mobile) {
			justify-content: center;
			position: relative;
			z-index: 5;
		}
	}

	&__block {
		display: flex;
		align-items: center;
		gap: 40px;

		&--full {
			@include r($mobile) {
				flex-grow: 1;
			}
		}

		&--no-gap {
			gap: 0;
		}

		&__divider {
			width: 1px;
			background-color: #f0f0f0;
			height: 32px;
		}

		&__socials-and-personal {
			gap: 20px;

			@include r($mobile) {
				gap: 0;
			}
		}

		.logo {
			flex-shrink: 0;
			display: flex;
			align-items: center;

			img {
				max-height: 80px;

				@include r($mobile) {
					max-height: 50px;
				}
			}
		}
	}

	&__personal {
		display: flex;
		position: relative;
		gap: 8px;
		@include r($mobile) {
			padding: 0 14px 0 0;
		}
	}

	&__user {
		position: relative;

		&:hover .menu {
			opacity: 1;
			visibility: visible;
			transition-delay: 0s;
		}
	}

	&__language, &__currency {
		position: relative;


		span {
			text-transform: uppercase;
		}


		.header__element {
			text-transform: uppercase;

			&:hover span {
				color: #27aae2;
			}
		}

		.menu {
			z-index: 1;

			button {
				cursor: pointer;
			}
		}

		&:hover .menu {
			opacity: 1;
			visibility: visible;
			transition-delay: 0s;
		}
	}

	&__currency {
		@include r($mobile) {
			&:not(&--mob) {
				display: none;
			}
		}

		.header__element {
			width: 65px;
		}

		.menu {
			min-width: unset;
			width: unset;
			left: 50%;
			transform: translateX(-50%);
			padding: 20px;

			&__item {
				text-wrap: nowrap;
			}
		}

		&--mob {
			align-self: flex-start;

			.menu {
				box-shadow: 0px 0px 12px 0px #00000047;
				left: 0;
				transform: none;
			}
		}
	}

	&__element {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		background: $blue-light;
		cursor: pointer;
		border-radius: 10px;

		&:hover {
			span {
				color: $blue-light;
			}

			svg {
				fill: $azure;
			}
		}

		span {
			color: $azure;
			transition: 0.2s linear;
		}

		svg {
			fill: $azure;
			transition: 0.2s linear;
		}

		.icon--small {
			width: 8px;
			height: 8px;
		}
	}

	&__logout {
		display: flex;
		align-items: center;
		gap: 10px;
		@include text-middle($white);

		svg {
			display: flex;
			width: 20px;
			height: 20px;
			fill: $white;
		}
	}
}
