<!DOCTYPE html>
<html lang="en">
<%= htmlWebpackPlugin.options.widgets.head %>

    <body>
        <%= htmlWebpackPlugin.options.widgets.header %>
        <main class="main">
            <section class="section pt-50">
                <div class="container">
                    <div class="breadcrumbs mb-40">
                        <a href="./index.html" class="breadcrumbs__link">to index</a>
                        <span class="breadcrumbs__link">Shop</span>
                    </div>
                    <div class="shop">
                        <div class="head">
                            <h2 class="title">Shop</h2>
                        </div>
                        <div class="shop__cards load-more-items">
                            <div class="card">
                                <div class="slider" data-slider="detail">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="slider__control">
                                            <div class="slider__btn slider__btn--prev">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                            <div class="slider__btn slider__btn--next">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <div class="card__text-description">
                                        Enjoy Biodonatum as an important part of a balanced and varied diet, a healthy lifestyle and active longevity.
                                    </div>
                                    <div class="card__price">
                                        <div class="card__price__title">Price:</div>
                                        <div class="card__price__price">$100</div>
                                    </div>
                                    <a href="#" class="card__buy-btn">
                                        Buy
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="slider" data-slider="detail">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="slider__control">
                                            <div class="slider__btn slider__btn--prev">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                            <div class="slider__btn slider__btn--next">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <div class="card__text-description">
                                        Enjoy Biodonatum as an important party.
                                    </div>
                                    <div class="card__price">
                                        <div class="card__price__title">Price:</div>
                                        <div class="card__price__price">
                                            vanaf
                                            <span class="woocommerce-Price-amount amount">
                                                <bdi>
                                                    180,00&nbsp;
                                                    <span class="woocommerce-Price-currencySymbol">€</span>
                                                </bdi>
                                            </span>
                                        </div>
                                    </div>
                                    <a href="#" class="card__buy-btn">
                                        Buy
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="slider" data-slider="detail">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="slider__control">
                                            <div class="slider__btn slider__btn--prev">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                            <div class="slider__btn slider__btn--next">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <div class="card__text-description">
                                        Enjoy Biodonatum
                                    </div>
                                    <div class="card__price">
                                        <div class="card__price__title">Price:</div>
                                        <div class="card__price__price">$100</div>
                                    </div>
                                    <a href="#" class="card__buy-btn">
                                        Buy
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="slider" data-slider="detail">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="slider__control">
                                            <div class="slider__btn slider__btn--prev">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                            <div class="slider__btn slider__btn--next">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <div class="card__text-description">
                                        Enjoy Biodonatum as an important part of a balanced and varied diet, a healthy lifestyle and active longevity.
                                    </div>
                                    <div class="card__price">
                                        <div class="card__price__title">Price:</div>
                                        <div class="card__price__price">$100</div>
                                    </div>
                                    <a href="#" class="card__buy-btn">
                                        Buy
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="slider" data-slider="detail">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="slider__control">
                                            <div class="slider__btn slider__btn--prev">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                            <div class="slider__btn slider__btn--next">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <div class="card__text-description">
                                        Enjoy Biodonatum as an important part of a balanced and varied diet, a healthy lifestyle and active longevity.
                                    </div>
                                    <div class="card__price">
                                        <div class="card__price__title">Price:</div>
                                        <div class="card__price__price">$100</div>
                                    </div>
                                    <a href="#" class="card__buy-btn">
                                        Buy
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="slider" data-slider="detail">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="slider__control">
                                            <div class="slider__btn slider__btn--prev">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                            <div class="slider__btn slider__btn--next">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <div class="card__text-description">
                                        Enjoy Biodonatum as an important part of a balanced and varied diet, a healthy lifestyle and active longevity.
                                    </div>
                                    <div class="card__price">
                                        <div class="card__price__title">Price:</div>
                                        <div class="card__price__price">$100</div>
                                    </div>
                                    <a href="#" class="card__buy-btn">
                                        Buy
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="slider" data-slider="detail">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="slider__control">
                                            <div class="slider__btn slider__btn--prev">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                            <div class="slider__btn slider__btn--next">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <div class="card__text-description">
                                        Enjoy Biodonatum as an important part of a balanced and varied diet, a healthy lifestyle and active longevity.
                                    </div>
                                    <div class="card__price">
                                        <div class="card__price__title">Price:</div>
                                        <div class="card__price__price">$100</div>
                                    </div>
                                    <a href="#" class="card__buy-btn">
                                        Buy
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="slider" data-slider="detail">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="slider__control">
                                            <div class="slider__btn slider__btn--prev">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                            <div class="slider__btn slider__btn--next">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <div class="card__text-description">
                                        Enjoy Biodonatum as an important part of a balanced and varied diet, a healthy lifestyle and active longevity.
                                    </div>
                                    <div class="card__price">
                                        <div class="card__price__title">Price:</div>
                                        <div class="card__price__price">$100</div>
                                    </div>
                                    <a href="#" class="card__buy-btn">
                                        Buy
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="slider" data-slider="detail">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="slider__control">
                                            <div class="slider__btn slider__btn--prev">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                            <div class="slider__btn slider__btn--next">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <div class="card__text-description">
                                        Enjoy Biodonatum as an important part of a balanced and varied diet, a healthy lifestyle and active longevity.
                                    </div>
                                    <div class="card__price">
                                        <div class="card__price__title">Price:</div>
                                        <div class="card__price__price">$100</div>
                                    </div>
                                    <a href="#" class="card__buy-btn">
                                        Buy
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="slider" data-slider="detail">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="slider__control">
                                            <div class="slider__btn slider__btn--prev">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                            <div class="slider__btn slider__btn--next">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <div class="card__text-description">
                                        Enjoy Biodonatum as an important part of a balanced and varied diet, a healthy lifestyle and active longevity.
                                    </div>
                                    <div class="card__price">
                                        <div class="card__price__title">Price:</div>
                                        <div class="card__price__price">$100</div>
                                    </div>
                                    <a href="#" class="card__buy-btn">
                                        Buy
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="slider" data-slider="detail">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="slider__control">
                                            <div class="slider__btn slider__btn--prev">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                            <div class="slider__btn slider__btn--next">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <div class="card__text-description">
                                        Enjoy Biodonatum as an important part of a balanced and varied diet, a healthy lifestyle and active longevity.
                                    </div>
                                    <div class="card__price">
                                        <div class="card__price__title">Price:</div>
                                        <div class="card__price__price">$100</div>
                                    </div>
                                    <a href="#" class="card__buy-btn">
                                        Buy
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="slider" data-slider="detail">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="slider__control">
                                            <div class="slider__btn slider__btn--prev">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                            <div class="slider__btn slider__btn--next">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <div class="card__text-description">
                                        Enjoy Biodonatum as an important part of a balanced and varied diet, a healthy lifestyle and active longevity.
                                    </div>
                                    <div class="card__price">
                                        <div class="card__price__title">Price:</div>
                                        <div class="card__price__price">$100</div>
                                    </div>
                                    <a href="#" class="card__buy-btn">
                                        Buy
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="slider" data-slider="detail">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="./assets/images/main-slider-1.jpg" alt="">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="slider__control">
                                            <div class="slider__btn slider__btn--prev">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                            <div class="slider__btn slider__btn--next">
                                                <svg class="slider__icon">
                                                    <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                                <div class="card__text">
                                    <div class="card__text-title">
                                        Science helps people
                                    </div>
                                    <div class="card__text-description">
                                        Enjoy Biodonatum as an important part of a balanced and varied diet, a healthy lifestyle and active longevity.
                                    </div>
                                    <div class="card__price">
                                        <div class="card__price__title">Price:</div>
                                        <div class="card__price__price">$100</div>
                                    </div>
                                    <a href="#" class="card__buy-btn">
                                        Buy
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="button shop__load-more load-more-btn">
                            LOAD MORE
                        </div>
                    </div>
                </div>
            </section>
            <%= htmlWebpackPlugin.options.widgets.feedback %>
        </main>

        <%= htmlWebpackPlugin.options.widgets.footer %>
        <%= htmlWebpackPlugin.options.widgets.temp %>
    </body>

</html>