.card {
	display: flex;
	flex-direction: column;
	background-color: $white;
	border-radius: 20px;
	height: auto;
	overflow: hidden;

	picture img {
		width: 100%;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding: 30px;
		height: 100%;

		@include r($mobile) {
			padding: 20px;
		}
		@include r($ultramobile) {
			gap: 10px;
			padding: 20px 20px 30px 20px;
		}

		&-title {
			font-size: 24px;
			font-weight: 600;
			line-height: 29.26px;
			@include r($ultramobile) {
				font-size: 20px;
				line-height: 24.38px;
			}
		}

		&-description {
			font-size: 20px;
			font-weight: 500;
			line-height: 34px;
			color: #838383;

			@include r($ultramobile) {
				font-size: 16px;
				line-height: 27.2px;
			}
		}

		&-link {
			color: #27aae2;
			text-transform: uppercase;
			display: flex;
			gap: 20px;
			align-items: center;
			font-size: 20px;
			font-weight: 600;
			line-height: 23px;
			flex-wrap: wrap;

			@include r($mobile) {
				font-size: 14px;
			}

			svg {
				height: 1em;
				width: 1em;
			}
		}

		&-timestamp {
			color: #d3d3d3;
			font-size: 16px;
			font-weight: 500;
			line-height: 19.5px;
			margin-top: auto;
		}
	}
}
