.info {
  position: absolute;
  top: 0;
  left: calc(100% - 35px);
  display: flex;
  padding: 10px 2px 10px 10px;
  width: 145px;
  border-radius: 6px;
  background-color: $blue-light;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: .2s linear;

  &__text {
    @include text-small(#007EC1);
    font-size: 10px;
    line-height: 12px;
  }
}