body {
	display: flex;
	flex-direction: column;
	min-width: 360px;
	min-height: 100vh;
	font-family: $font-main;
	@include text-big($c-text);
	background-color: $background;
	overflow-x: hidden;
}

.main {
	flex-grow: 1;
	overflow-x: hidden;
}

.centered {
	margin: 0 auto;
}

.mob-hidden {
	@include r($mobile) {
		display: none;
	}
}

.desktop-hidden {
	@include rmin($mobile + 1) {
		display: none;
	}
}

.order {
	&--1 {
		order: 1;
	}

	&--2 {
		order: 2;
	}

	&--3 {
		order: 3;
	}

	&--4 {
		order: 4;
	}

	&--5 {
		order: 5;
	}

	&-mob {
		&--1 {
			@include r($mobile) {
				order: 1;
			}
		}

		&--2 {
			@include r($mobile) {
				order: 2;
			}
		}

		&--3 {
			@include r($mobile) {
				order: 3;
			}
		}

		&--4 {
			@include r($mobile) {
				order: 4;
			}
		}

		&--5 {
			@include r($mobile) {
				order: 5;
			}
		}
	}
}

body .screen-reader-response {
	display: none;
}

.wpcf7 .form-custom {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}
.wpcf7-form-control-wrap:nth-of-type(3) {
	grid-column: 1/3;
}
.wpcf7-submit {
	padding: 28px;
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	line-height: 17px;
	color: #ffffff;
	border-radius: 10px;
	background-color: #27aae2;
	-webkit-transition: 0.2s linear;
	transition: 0.2s linear;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
	grid-column: 1/3;
}
.wpcf7-submit:active {
	background-color: #44aeec;
}
.wpcf7-not-valid {
	border-color: rgb(221, 8, 8);
}
.wpcf7-not-valid-tip {
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	color: rgb(221, 8, 8);
}
.wpcf7-spinner {
	display: none;
	width: 24px;
	height: 24px;
	border-width: 5px;
	border-style: solid;
	border-color: rgb(93, 93, 93) rgba(0, 0, 0, 0.274) rgba(0, 0, 0, 0.274)
		rgba(0, 0, 0, 0.274);
	border-radius: 100%;
	padding: 0;
	margin: 0 auto;
	animation-name: spin;
	animation-duration: 1000ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.feedback .wpcf7-spinner {
	grid-column: 1/3;
}

form.submitting .wpcf7-spinner {
	display: inline-block;
}

@media (prefers-reduced-motion: reduce) {
	.wpcf7-spinner::before {
		animation-name: blink;
		animation-duration: 2000ms;
	}
}
@media (prefers-reduced-motion: reduce) {
	.wpcf7-spinner::before {
		animation-name: blink;
		animation-duration: 2000ms;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes blink {
	from {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}
.wpcf7-response-output {
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
}

.feedback .wpcf7-response-output {
	grid-column: 1/3;
}

.product-swiper-img {
	aspect-ratio: 75/66;
	object-fit: cover;
	border-radius: 30px;
}
@media only screen and (max-width: 1199px) {
	.product-swiper-img {
		width: 100%;
	}
}
@media only screen and (min-width: 1199px) {
	.teasers-pagination-wrapper {
		display: none;
	}
}

.editor .return_policy_subtitle {
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
}
