body {
	display: flex;
	flex-direction: column;
	min-width: 360px;
	min-height: 100vh;
	font-family: $font-main;
	@include text-big($c-text);
	background-color: $background;
	overflow-x: hidden;
}

.main {
	flex-grow: 1;
	overflow-x: hidden;
}

.centered {
	margin: 0 auto;
}

.mob-hidden {
	@include r($mobile) {
		display: none;
	}
}

.desktop-hidden {
	@include rmin($mobile + 1) {
		display: none;
	}
}

.order {
	&--1 {
		order: 1;
	}

	&--2 {
		order: 2;
	}

	&--3 {
		order: 3;
	}

	&--4 {
		order: 4;
	}

	&--5 {
		order: 5;
	}

	&-mob {
		&--1 {
			@include r($mobile) {
				order: 1;
			}
		}

		&--2 {
			@include r($mobile) {
				order: 2;
			}
		}

		&--3 {
			@include r($mobile) {
				order: 3;
			}
		}

		&--4 {
			@include r($mobile) {
				order: 4;
			}
		}

		&--5 {
			@include r($mobile) {
				order: 5;
			}
		}
	}
}
