@use 'sass:math';

// Шрифты
$font-main: 'Montserrat', sans-serif;
//  Насыщенность шрифта
$medium: 500;
$bold: 700;
$semi-bold: 600;
// Цвета
$white: #ffffff;
$dark-grey: #bbbbbb;
$lighten-grey: #dbdbdb;
$gray: #c0c0c0;

$gray-extra-light: #e7e7e7;
$gray-light: #f9f9f9;
$background: #f9f9fb;

$blue-black: #002f44;
$azure: #27aae2;
$blue: #0174a5;
$blue-light: #d2f2ff;
$blue-light-grey: #edfaff;
$pale-green: #b5cb6b;
$error: #b93061;
$approve: #00a2a2;
$attention: #ff9500;

$c-text: #242424;
$c-text-accent: #a2a2a2;

// Размеры
$mobile: 1199;

$ultramobile: 568;

// Миксины
@mixin h1($color) {
	font-size: 50px;
	font-weight: $medium;
	line-height: 130%;
	color: $color;

	@include r($mobile) {
		font-size: 32px;
		line-height: 39px;
	}
}

@mixin h2($color) {
	font-size: 32px;
	font-weight: $semi-bold;
	line-height: 38px;
	color: $color;
	@include r($mobile) {
		font-size: 26px;
		line-height: 32px;
	}
}

@mixin h3($color) {
	font-size: 24px;
	font-weight: $semi-bold;
	color: $color;
}

@mixin h4($color) {
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	color: $color;
}

@mixin text-big($color) {
	font-family: $font-main;
	font-size: 24px;
	font-weight: $medium;
	line-height: 190%;
	color: $color;
}

@mixin text-middle($color) {
	font-family: $font-main;
	font-size: 16px;
	font-weight: 400;
	line-height: 17px;
	color: $color;
}

@mixin text-small($color) {
	font-family: $font-main;
	font-size: 12px;
	font-weight: 400;
	color: $color;
}

@mixin r($width) {
	@media only screen and (max-width: #{$width}px) {
		@content;
	}
}

@mixin rmin($width) {
	@media only screen and (min-width: #{$width}px) {
		@content;
	}
}

@mixin cover() {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}

@mixin coverFull() {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

// Генераторы
@mixin pt($size) {
	padding-top: math.div($size, 16) * 1rem;
}

@for $i from 1 through 200 {
	.pt-#{$i} {
		@include pt($i);
	}
}

@mixin ptm($size) {
	@include r($mobile) {
		padding-top: math.div($size, 16) * 1rem;
	}
}

@for $i from 0 through 200 {
	.ptm-#{$i} {
		@include ptm($i);
	}
}

@mixin pb($size) {
	padding-bottom: math.div($size, 16) * 1rem;
}

@for $i from 1 through 200 {
	.pb-#{$i} {
		@include pb($i);
	}
}

@mixin pbm($size) {
	@include r($mobile) {
		padding-bottom: math.div($size, 16) * 1rem;
	}
}

@for $i from 0 through 200 {
	.pbm-#{$i} {
		@include pbm($i);
	}
}

@mixin mt($size) {
	//margin-top: $size + px;
	margin-top: math.div($size, 16) * 1rem;
}

@for $i from 1 through 200 {
	.mt-#{$i} {
		@include mt($i);
	}
}

@mixin mtm($size) {
	//margin-top: $size + px;
	@include r($mobile) {
		margin-top: math.div($size, 16) * 1rem;
	}
}

@for $i from 0 through 200 {
	.mtm-#{$i} {
		@include mtm($i);
	}
}

@mixin mb($size) {
	//margin-bottom: $size + px;
	margin-bottom: math.div($size, 16) * 1rem;
}

@for $i from 1 through 200 {
	.mb-#{$i} {
		@include mb($i);
	}
}

@mixin mbm($size) {
	//margin-bottom: $size + px;
	@include r($mobile) {
		margin-bottom: math.div($size, 16) * 1rem;
	}
}

@for $i from 0 through 200 {
	.mbm-#{$i} {
		@include mbm($i);
	}
}
