<!DOCTYPE html>
<html lang="en">
<%= htmlWebpackPlugin.options.widgets.head %>

<body>
    <%= htmlWebpackPlugin.options.widgets.header %>
    <main class="main">
        <section class="section pt-50">
            <div class="container">
                <div class="breadcrumbs mb-40">
                    <a href="./index.html" class="breadcrumbs__link">to index</a>
                    <span class="breadcrumbs__link">Partners</span>
                </div>
                <div class="partners-page">
                    <%= htmlWebpackPlugin.options.widgets.partners %>
                </div>
            </div>
        </section>

        <%= htmlWebpackPlugin.options.widgets.feedback %>
    </main>
    <%= htmlWebpackPlugin.options.widgets.footer %>
    <%= htmlWebpackPlugin.options.widgets.temp %>
</body>

</html>