.partners-page {
    .section {
        padding: 0 0 60px 0;

        .container {
            padding: 0;
        }
    }

    h3 {
        font-weight: 600;
        font-size: 32px;
        line-height: 39.01px;
        margin-bottom: 30px;

        &:not(:first-of-type) {
            margin-top: 70px;

            @include r($mobile) {
                margin-top: 50px;
            }
        }

        @include r($mobile) {
            font-size: 22px;
            line-height: 26.82px;
            margin-bottom: 25px;
        }
    }

    &__emogi {
        padding-right: 10px;

        @include r($mobile) {
            padding-right: 8px;
        }
    }

    p, ul {
        font-weight: 500;
        font-size: 24px;
        line-height: 45.6px;

        @include r($mobile) {
            font-size: 18px;
            line-height: 34.2px;
        }
    }

    ul {
        margin-top: 20px;
        padding-left: 40px;
        list-style-position: inside;

        @include r($mobile) {
            margin-top: 17px;
            padding-left: 30px;
        }

        li {
            &::marker {
                content: "✅ ";
                font-size: 0.8em;
                padding-right: 100px; /* Adjust spacing */
            }
        }
    }

    &__contact-us {
        display: block;
        margin-top: 90px;
        text-align: center;
        font-weight: 500;
        font-size: 30px;
        line-height: 37.01px;

        @include r($mobile) {
            margin-top: 70px;
            font-size: 25px;
            line-height: 27.01px;
        }

        &:hover {
            color: $azure;
        }
    }

    &__download {
        color: $azure;
        font-size: 30px;
        font-weight: 600;
        line-height: 33.1px;
        margin: 60px 20px;

        @include r($mobile) {
            font-size: 27px;
            line-height: 30.1px;
            margin: 40px 10px;
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 1.2em;
                height: 1.2em;
            }
        }

        a {
            display: flex;
            align-items: center;
            gap: 15px;
            width: fit-content;

            @include r($mobile) {
                gap: 10px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}