.faq {
	display: flex;
	flex-direction: column;
	gap: 30px;

	&__item {
		display: flex;
		flex-direction: column;
		padding: 30px 40px;
		border-radius: 20px;
		background-color: $white;
		cursor: pointer;

		@include r($mobile) {
			padding: 30px 20px;
		}

		.faq__icon {
			background-color: $blue-light;
			color: $azure;
			padding: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 10px;

			svg {
				width: 20px;
				height: 20px;
				transform: rotate(45deg);
				flex-shrink: 0;

				transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
			}
		}

		&.active {
			.faq__content {
				height: 100%;
				overflow: visible;
				margin-top: 16px;
			}

			.faq__icon {
				padding: 9px;

				svg {
					transform: none;
					width: 22px;
					height: 22px;
				}
			}
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}

	&__title {
		color: $blue;
	}

	&__content {
		height: 0;
		overflow: hidden;
	}
}
