.article-news {
	display: flex;
	flex-direction: column;
	min-height: 410px;
	border-radius: 20px;
	border: 1px solid $white;
	overflow: hidden;

	@include r($mobile) {
		min-height: 372px;
	}

	&--slim {
		min-height: auto;
		border: none;
		border-radius: 0;

		.article-news__detail {
			padding: 10px 0 0;
			align-items: flex-start;
		}

		.article-news__title {
			@include h4($white);
			text-align: left;
		}
	}

	&--small {
		min-height: 246px;
	}

	&__detail {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-grow: 1;
		padding: 30px;

		@include r($mobile) {
			padding: 20px;
		}
	}

	&__picture {
		display: flex;
		align-items: center;
		justify-content: center;
		max-height: 210px;
		overflow: hidden;

		img {
			@include coverFull();
		}
	}

	&__date {
		margin-bottom: 10px;
		@include text-middle($blue);
	}

	&__title {
		margin-bottom: 10px;
		@include h3($white);
		text-align: center;
	}

	&__author {
		margin-bottom: 10px;
		@include text-middle($white);
	}

	.more {
		margin-top: auto;
	}
}
