<!DOCTYPE html>
<html lang="en">
<%= htmlWebpackPlugin.options.widgets.head %>

<body>
    <%= htmlWebpackPlugin.options.widgets.header %>
    <main class="main">
        <section class="section pt-50">
            <div class="container">
                <div class="breadcrumbs mb-40">
                    <a href="./index.html" class="breadcrumbs__link">to index</a>
                    <span class="breadcrumbs__link">Partnership</span>
                </div>
                <div class="partnership">
                    <div class="head">
                        <h2 class="title">Partnership</h2>
                    </div>

                    <div class="partners-page">
                        <div class="partners-page__download">
                            <a target="_blank" href="#">
                                <div class="partners-page__download__icon">
                                    <svg>
                                        <use xlink:href="./assets/sprite.svg#icon-pdf"></use>
                                    </svg>
                                </div>
                                <div class="partners-page__download__text">
                                    Download Company Profile
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="island partnership__global-reach">
                        <h3>
                            Global reach & logistics
                        </h3>
                        <ul>
                            <li><a href="#">Highest ranked</a> site for natural products</li>
                            <li>180+ countries</li>
                            <li>19 native languages</li>
                            <li>80+ Currencies</li>
                            <li>35+ Payment Options</li>
                            <li>150+ local delivery service partners across the world</li>
                            <li>7 fulfillment centers</li>
                            <li>Free shipping to over 50 nations</li>
                            <li>International Marketplace Presence</li>
                        </ul>
                    </div>
                    <div class="island partnership__global-technology">
                        <h3>
                            Global technology support
                        </h3>
                        <ul>
                            <li>4.8+ star ranking <a href="#">iOS</a> and <a href="#">Android</a> APPs with over 50 million downloads</li>
                            <li>300+ full time technology and IT support</li>
                        </ul>
                    </div>
                    <div class="island partnership__synergistic">
                        <h3>
                            Global & synergistic marketing and logistic support
                        </h3>
                        <ul>
                            <li>Over 46 million “genuine” product reviews by actual customers in 19 languages which we share with other E-tailers of your brand via Google Shopping</li>
                            <li>Many potential domestic and international customers visit iHerb to read product reviews. Then will shop your brand through other channels</li>
                            <li>Complement your current distribution channels by giving your international customers another channel to shop your brand</li>
                        </ul>
                    </div>
                </div>
                <div class="partners-page">
                    <div class="island">
                        <h3>
                            <span class="partners-page__emogi">🚀</span> Joining forces – shaping the future!
                        </h3>
                        <p>
                            Biodonatum invites international partners to collaborate in the distribution of innovative biotechnological solutions. We welcome distributors, medical institutions, and scientific organizations worldwide that are committed to advancing cutting-edge technologies in health and longevity.
                        </p>
                        <h3>
                            <span class="partners-page__emogi">💡</span> Driving innovation – multiplying success!
                        </h3>
                        <p>
                            By partnering with us, you gain:

                            <ul>
                                <li>Access to high-quality products and advanced developments</li>
                                <li>Flexible partnership terms and a personalized approach</li>
                                <li>Full support at every stage of cooperation</li>
                            </ul>
                        </p>
                        <h3>
                            <span class="partners-page__emogi">🤝</span> Together – towards new opportunities!
                        </h3>
                        <p>
                            We are looking for reliable partners for long-term collaboration and are open to discussing various forms of cooperation. If you are interested in becoming our official representative in your country, get in touch with us!
                        </p>
                        <a href="#" class="partners-page__contact-us">
                            <span class="partners-page__emogi">📩</span> Contact us – let's grow together!
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <%= htmlWebpackPlugin.options.widgets.feedback %>
    </main>
    <%= htmlWebpackPlugin.options.widgets.footer %>
    <%= htmlWebpackPlugin.options.widgets.temp %>
</body>

</html>