.blog-detail {
    &__hero {
        aspect-ratio: 186/85;

        @include r($mobile) {
            aspect-ratio: 327/300;
            margin: 40px 20px;
        }
    }

    display: flex;
    flex-direction: column;
    gap: 60px;

    @include r($mobile) {
        gap: 30px
    }

    .editor p {
        font-size: 20px;

        @include r($mobile) {
            font-size: 16px;
        }
    }

    ol {
        list-style-type: decimal;
        list-style-position: inside;
        padding-inline-start: 20px;
        font-size: 20px;


        @include r($mobile) {
            font-size: 16px;
            padding-inline-start: 16px;
        }
    }

    blockquote {
        font-style: italic;
        padding-inline-start: 60px;
        margin-bottom: 40px;

        @include r($mobile) {
            padding-inline-start: 40px;
            margin-bottom: 30px;
        }
    }
}
