.input {
	display: block;
	padding: 12px 20px;

	@include text-middle($c-text);

	background-color: $gray-light;
	border: 1px solid $gray-light;
	border-radius: 10px;
	transition: 0.2s linear;
	width: 100%;

	&--area {
		min-height: 254px;
		width: 100%;
	}

	&:focus {
		border-color: $azure;
	}

	&::placeholder {
		@include text-middle($gray);
	}

	&--transparent {
		background-color: transparent;
		color: $white;
		border-color: $white;
	}
}
