.head {
    @include r($mobile) {
        display: none;
    }
}

.scientists {
    display: flex;
    flex-direction: column;
    margin-top: 60px;

    .swiper-pagination {
        margin-top: 30px;
        width: 100%;
        justify-content: center;
        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
        }
    }

    .slider {
        position: relative;

        .swiper {
            position: static;

            &-wrapper {
                @include r($mobile) {
                    flex-direction: column;
                    gap: 30px;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        &__btn {
            background-color: #27AAE2;
        }
    }

    &__load-more {
        display: none;

        @include r($mobile) {
            display: flex;
        }
    }

	&__card {
		display: flex;
		flex-direction: column;
		background-color: $white;
		border-radius: 20px;
        height: auto;
        overflow: hidden;

        &:not(:nth-child(-n+4)) {
            @include r($mobile) {
                display: none;
            }
        }

        &__description {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 30px;

            &-name {
                font-size: 24px;
                font-weight: 600;
                line-height: 29.26px;
            }

            &-text {
                font-size: 20px;
                font-weight: 500;
                line-height: 34px;
                text-align: left;
                color: #838383;
            }
        }
	}

}
