<!DOCTYPE html>
<html lang="en">
<%= htmlWebpackPlugin.options.widgets.head %>

    <body>
        <%= htmlWebpackPlugin.options.widgets.header %>
        <main class="main">
            <section class="section pt-50">
                <div class="container">
                    <div class="breadcrumbs mb-40">
                        <a href="./index.html" class="breadcrumbs__link">to index</a>
                        <span class="breadcrumbs__link">Our Scientists</span>
                    </div>
                    <div class="head">
                        <h2 class="title">Our Scientists</h2>
                    </div>
                    <div class="tabs__item active">
                        Our Scientific Board is represented by doctors, scientists and researchers in such fields as microbiology, immunology, genetics, metabolomics, gastroenterology, pediatrics, gynecology and cosmetology. They head clinics and laboratories, teach at world-renowned institutes and are authors of scientific journals and publications.
                    </div>
                    <div class="scientists">
                        <div class="slider" data-slider="scientists">
                            <div class="swiper">
                                <div class="swiper-wrapper load-more-items">
                                    <div class="swiper-slide scientists__card">
                                        <picture>
                                            <img src="./assets/images/scientists/Katya-Khammad.jpeg" alt="">
                                        </picture>
                                        <div class="scientists__card__description">
                                            <div class="scientists__card__description-name">
                                                1
                                                Katya Khammad
                                            </div>
                                            <div class="scientists__card__description-text">
                                                Doctor of Medical Sciences Gastroenterologist Geriatrics Gerontology Ozone Therapy Member of the International Red Cross
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide scientists__card">
                                        <picture>
                                            <img src="./assets/images/scientists/Vasilii-Khammad.jpeg" alt="">
                                        </picture>
                                        <div class="scientists__card__description">
                                            <div class="scientists__card__description-name">
                                                2
                                                Vasilii Khammad
                                            </div>
                                            <div class="scientists__card__description-text">
                                                Doctorate in Neuro-Oncology
                                                General Medicine (GM)
                                                Residency in Medical Oncology
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide scientists__card">
                                        <picture>
                                            <img src="./assets/images/scientists/Kalinchenko-Svetlana.jpeg" alt="">
                                        </picture>
                                        <div class="scientists__card__description">
                                            <div class="scientists__card__description-name">
                                                3
                                                Svetlana Kalinchenko
                                            </div>
                                            <div class="scientists__card__description-text">
                                                Doctor of Medical Sciences
                                                Urologist Endocrinologist Andrologist
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide scientists__card">
                                        <picture>
                                            <img src="./assets/images/scientists/MAJIDOVA-Yokutkhon.jpeg" alt="">
                                        </picture>
                                        <div class="scientists__card__description">
                                            <div class="scientists__card__description-name">
                                                4
                                                Yokutkhon Majidova
                                            </div>
                                            <div class="scientists__card__description-text">
                                                Professor Doctor of Medical Sciences President of the Association of Neurologists Child Neurology and Medical Genetics
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide scientists__card">
                                        <picture>
                                            <img src="./assets/images/scientists/Katya-Khammad.jpeg" alt="">
                                        </picture>
                                        <div class="scientists__card__description">
                                            <div class="scientists__card__description-name">
                                                5
                                                Katya Khammad
                                            </div>
                                            <div class="scientists__card__description-text">
                                                Doctor of Medical Sciences Gastroenterologist Geriatrics Gerontology Ozone Therapy Member of the International Red Cross
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide scientists__card">
                                        <picture>
                                            <img src="./assets/images/scientists/Vasilii-Khammad.jpeg" alt="">
                                        </picture>
                                        <div class="scientists__card__description">
                                            <div class="scientists__card__description-name">
                                                6
                                                Vasilii Khammad
                                            </div>
                                            <div class="scientists__card__description-text">
                                                Doctorate in Neuro-Oncology
                                                General Medicine (GM)
                                                Residency in Medical Oncology
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide scientists__card">
                                        <picture>
                                            <img src="./assets/images/scientists/Kalinchenko-Svetlana.jpeg" alt="">
                                        </picture>
                                        <div class="scientists__card__description">
                                            <div class="scientists__card__description-name">
                                                7
                                                Svetlana Kalinchenko
                                            </div>
                                            <div class="scientists__card__description-text">
                                                Doctor of Medical Sciences
                                                Urologist Endocrinologist Andrologist
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide scientists__card">
                                        <picture>
                                            <img src="./assets/images/scientists/MAJIDOVA-Yokutkhon.jpeg" alt="">
                                        </picture>
                                        <div class="scientists__card__description">
                                            <div class="scientists__card__description-name">
                                                8
                                                Yokutkhon Majidova
                                            </div>
                                            <div class="scientists__card__description-text">
                                                Professor Doctor of Medical Sciences President of the Association of Neurologists Child Neurology and Medical Genetics
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider__control mob-hidden">
                                    <div class="slider__btn slider__btn--prev">
                                        <svg class="slider__icon">
                                            <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                        </svg>
                                    </div>
                                    <div class="slider__btn slider__btn--next">
                                        <svg class="slider__icon">
                                            <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="button button--wide scientists__load-more load-more-btn">
                                    LOAD MORE
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <%= htmlWebpackPlugin.options.widgets.feedback %>
        </main>

        <%= htmlWebpackPlugin.options.widgets.footer %>
    </body>

</html>