.scientists {
	.head {
		@include r($mobile) {
			display: none;
		}
	}

	display: flex;
	flex-direction: column;
	gap: 60px;

	.swiper-pagination {
		margin-top: 30px;
		width: 100%;
		justify-content: center;

		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
		}
	}

	.slider {
		position: relative;

		.swiper {
			position: static;

			&-wrapper {
				@include r($mobile) {
					flex-direction: column;
					gap: 30px;
				}

				& > *:not(:nth-child(-n + 4)) {
					@include r($mobile) {
						display: none;
					}
				}
			}
		}

		&__btn {
			background-color: #27aae2;
		}
	}

	&__load-more {
		display: none;

		@include r($mobile) {
			display: flex;
		}
	}

	.island {
		@include r($ultramobile) {
			font-size: 18px;
			line-height: 34.2px;
		}
	}
}
