<!DOCTYPE html>
<html lang="en">
<%= htmlWebpackPlugin.options.widgets.head %>

    <body>
        <%= htmlWebpackPlugin.options.widgets.header %>
        <main class="main">
            <section class="section pt-50">
                <div class="container">
                    <div class="breadcrumbs mb-40">
                        <a href="./index.html" class="breadcrumbs__link">to index</a>
                        <span class="breadcrumbs__link">Biodonatum</span>
                    </div>
                </div>
            </section>
            <div class="product">
                <%= htmlWebpackPlugin.options.widgets.productDetail %>
                <%= htmlWebpackPlugin.options.widgets.reviews %>
            </div>
            <%= htmlWebpackPlugin.options.widgets.feedback %>
        </main>

        <%= htmlWebpackPlugin.options.widgets.footer %>
        <%= htmlWebpackPlugin.options.widgets.temp %>
    </body>

</html>