.editor {
	p {
		&:not(:last-child) {
			margin-bottom: 30px;
		}

		@include text-big($c-text);

		&.small {
			@include text-middle($c-text);
		}

		@include r($mobile) {
			@include text-middle($c-text);
		}
	}

	strong {
		@include h4($c-text);
	}

	img {
		display: block;
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	ul {
		padding-left: 10px;
		li {
			@include text-middle($c-text);
			list-style: disc inside;
		}
	}
}
